QTRANS_INPUT_MODE=batch
QTRANS_INPUT_FILE=
QTRANS_INPUT_DIR=notebooks/input
QTRANS_OUTPUT_DIR=notebooks/output
QTRANS_QASM_DIR=notebooks/algorithms_qasm
QTRANS_QUIRK_IMAGES_DIR=notebooks/circuits_quirk
QTRANS_QASM_IMAGES_DIR=notebooks/circuits_qasm
QTRANS_COMPARE_DIR=notebooks/compare
QTRANS_ZX_DIR=notebooks/ZXCalculus
QTRANS_MIGRATED_DIR=notebooks/output/migrated_circuits
QTRANS_CAPTURE_IMAGES=true
QTRANS_GENERATE_QASM_IMAGES=true
QTRANS_GENERATE_COMPARISON=true
QTRANS_GENERATE_ZX=true
QTRANS_GENERATE_ZX_IMAGES=true
QTRANS_VERBOSE=false
QTRANS_QASM_VERSION=3.0
QTRANS_ZX_TIME=0.5
QTRANS_SHOTS=1000
QTRANS_CAPTURE_TIMEOUT=15
QTRANS_TARGET_PROVIDERS=ibm_qiskit
